<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.Database1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database1.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp2.Properties.Settings.AConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Belgeler\A.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp2.Properties.Settings.SkorConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Skor.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp2.Properties.Settings.AConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\A.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApp2.Properties.Settings.VeriTabaniConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\VeriTabani.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
